<div class="row fs0875 text-center overflow-hidden">
  <div class="col-sm-6 offset-sm-3 px-2">
    <div class="bg_order_card px-3 h-100 mb-3">
      <div class="fs-4 text-center py-5">Upload 3D Models to Earn</div>
      <%= render "form", earn: @earn %>
    </div>
  </div>
</div>