<div class="home">
  <%= render "layouts/header" %>
  <div class="container">
    <div class="row text-light fs0875 text-center">
      <div class="col-sm-6 offset-sm-3 px-2">
        <div class="bg_order_card px-3 h-100 mb-3">
          <div class="fs-4 text-center py-5">Upload 3D Models to Earn</div>

          <div class="bg-transparent">
            <div class="py-3 fs-5">
              <div>Upload successfully!</div>
            </div>
            <div class="h2">
              <span class="text-warning fw-bold">+ 1000.00</span><span> Token</span>
            </div>
          </div>
          <a href="/token/index" type="button" class="form-control bg_gradient padding1 btn btn-lg btn-dark rounded-pill my-5 w-75">
            <div class="bg-dark rounded-pill p-2 p_v_btn">
              <span class="">Check your Token</span>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>