<%= image_tag "home_btn_creat.png", class: "img-fluid btn_shadow_create rounded-4 object-fit-fill" %>
<div class="text-white position-absolute top-30 start-50 translate-middle d-flex flex-column align-content-center">
  <div class="h2 fw-bold mb-5 text_shadow_create">Create</div>
</div>