<%= image_tag "home_btn_earn.png", class: "img-fluid btn_shadow_earn rounded-4" %>
<div class="text-white position-absolute top-30 start-50 translate-middle d-flex flex-column align-content-center">
  <div class="h2 fw-bold fw-bold mb-5 text_shadow_earn">Earn</div>
</div>